.filterContainer{
  position: sticky;
  top: 0;
}

.filterContainer li{
  list-style-type: none;
  border: 1px solid black;
  margin: 1rem;
  padding: 1rem;
}

.filterContainer a{
  text-decoration: none;
}