.imageCarousel{
  height: 50%;
}

.mainImage{
  width: 100%;
}

.thumbnailImages{
  display: flex;
  height: 20%;
  width: 100%;
  overflow: hidden;
  align-items: center;
}

.thumbnailImage{
  width: 20%;
  margin: .1rem;
  cursor: pointer;
}
.showAllBtn{
  width: 20%;
  height: 100%;
  background-color: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 65%;
}

.showAllBtn:hover{
  cursor: pointer;
  width: 20%;
  height: 100%;
  background-color: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 85%;
}