.productContainer{
  margin-top:15%;
  width: 65%;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 10px;
  grid-template-rows: auto;
  margin: auto;
}

.productImages{
  grid-column: 1/5;
  margin-top: 15%;
}

.productInfo{
  margin-top: 15%;
  margin-left: 8%;
  grid-column: 5/9;
}
.colorsContainer{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
}
.colorImage{
  width: 85%;
}

.colorItem{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}

.sizesContainer{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
}
.sizeImage{
  width: 85%;
}

.sizeItem{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}

