.productsPageContainer{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: auto;
}

.products{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(33%, 1fr));
  /* grid-template-rows: repeat(auto-fill, minmax(55vh, 1fr)); */
  text-align: center;
  width: 100%;
  margin: 0;
}

.filterContainer{
  text-align: left;
  background-color: #081a3a;
  width: 33%;
  height: 100vh;
  position: sticky;
  top: 0;
}

.filterContainerActive{
  text-align: left;
  background-color: #081a3a;
  width: 33%;
  height: 100vh;
  position: sticky;
  top: 0;
}


#menuIcon{
  display:none;
}



.category{
  cursor: pointer;
  list-style-type: none;
  margin: 1rem;
  padding: 1rem;
}

.activeCategory{
  cursor: pointer;
  list-style-type: none;
  border-bottom: 1px solid white;
  margin: 1rem;
  padding: 1rem;
}

.filterContainer li{
  color: white;
  list-style-type: none;
  /* border: 1px solid black;
  background-color: rgba(0, 0, 0, 0.288); */
  margin: 1rem;
  padding: 1rem;
}

.filterContainer li:hover{
  list-style-type: none;
  border: 1px solid black;
  background-color: grey;
  margin: 1rem;
  padding: 1rem;
}

.category{
  color: white;
}


.filterContainer a{
  text-decoration: none;
}

.navLinks{
  top: 0;
  position: sticky;
}



.filterContainer{
  background-color: #081a3a;
}

@media (max-width:1440px){
  .products{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
    /* grid-template-rows: repeat(auto-fill, minmax(55vh, 1fr)); */
    text-align: center;
    width: 100%;
    margin: 0;
  }

  .navLinks{
    padding: 0;
  }

}


@media (max-width:480px){
  .productsPageContainer{
    justify-content: start;
    position: absolute; /* This creates a positioning context */
    overflow: auto; /* Enable scrolling within the container */
    max-height: 100vh;
  }

  #menuIcon{
    top: 0;
    position: sticky;
    display: block;
  }

  .products{
    position: absolute;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
    /* grid-template-rows: repeat(auto-fill, minmax(55vh, 1fr)); */
    text-align: center;
    width: 100%;
    margin: auto;
  }

  /* .filterContainer{
    display: none;
  } */


  .filterContainer{
    position: absolute;
    display: none;
  }

  .filterContainerActive{
    height: 100vh;
    z-index: 10;
    background-color: #081a3a;
    text-align: left;
    overflow-y: scroll;
    position: sticky;

  }

  .filterContainer a{
    text-decoration: none;
  }
  .category{
    margin: 0;
    color: white;
  }

  .navLinks{
    padding: 0;
  }

  .activeCategory{
    margin: 0;
    color: white;
  }




}